

span {
  @apply border border-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700 dark:border-gray-700  rounded-full py-2  px-5 ;
}

.category {
  @apply w-full space-x-5 mb-2 p-2 pb-4  text-center overflow-x-scroll overflow-y-hidden container;
}


.scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  /* or add it to the track */
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 20px;
  @apply shadow-inner  shadow-gray-700 ;
}
/* Add a thumb */
.scrollbar::-webkit-scrollbar-thumb {
  // background: #000;
  @apply bg-black dark:bg-gray-200;
  border-radius: 10px;

}