<div class="float-right flex">
  <div class="flex flex-row flex-wrap justify-center items-center w-11/12">
    <div class="category container">
      <span>category1</span>
      <span>category2</span>
      <span>category3</span>
      <span>category4</span>
      <span>category5</span>
      <span>category6</span>
      <span>category7</span>
      <span>category8</span>
      <span>category9</span>
      <span>category10</span>
      <span>category11</span>
      <span>category12</span>
    </div>

    @for (product of products; track $index) {

    <div (click)="addProduct(product)">
      <app-card [cardName]="product.name" [cardImg]="product.img" />
    </div>

    }
  </div>
  <div
    id="drawer-right-example"
    class="fixed top-0 right-24 z-40 h-screen p-2 overflow-y-auto transition-transform translate-x-full bg-gray-100 w-7/12 dark:bg-gray-800"
    tabindex="-1"
    aria-labelledby="drawer-right-label"
  >
    <div class="mb-10">
      <button
        class="bg-gray-300 hover:bg-gray-400 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 start-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
        type="button"
        data-drawer-target="drawer-right-example"
        data-drawer-show="drawer-right-example"
        data-drawer-placement="right"
        aria-controls="drawer-right-example"
      >
        <fa-icon [icon]="angle_left"></fa-icon>
      </button>
      <button
        type="button"
        data-drawer-hide="drawer-right-example"
        aria-controls="drawer-right-example"
        class="bg-gray-300 hover:bg-gray-400 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
      >
        <fa-icon [icon]="angle_right"></fa-icon>
      </button>
    </div>
    <div class="space-y-2">
      @for (product of saleCard; track $index) {
      <div class="flex justify-between items-center ">
        <img src="" class="w-16 h-16" />
        <p>{{ product.name }}</p>

        <fa-icon [icon]="minus" (click)="changeQuantity(false,product.id)" />
        <p> {{ product.quantity }} </p>
        <fa-icon [icon]="plus" (click)="changeQuantity(true,product.id)" />
        <p>{{ product.price}} </p>


      </div>
      }

      <button (click)="clean()" >Clean</button>
      <button (click)="sale()" >Sale</button>
    </div>
  </div>
</div>
